@import url('https://fonts.cdnfonts.com/css/general-sans') layer(base);

@import 'tailwindcss';

@plugin '@tailwindcss/aspect-ratio';

@theme {
  --font-generalsans: General Sans, sans-serif;

  --color-black-100: #010103;
  --color-black-200: #0e0e10;
  --color-black-300: #1c1c21;
  --color-black-500: #3a3a49;
  --color-black-600: #1a1a1a;
  --color-black: #000;

  --color-white-500: #62646c;
  --color-white-600: #afb0b6;
  --color-white-700: #d6d9e9;
  --color-white-800: #e4e4e6;
  --color-white: #ffffff;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility parameter-button {
  @apply highlight rounded-full px-[clamp(1rem,3vw,2rem)] py-[clamp(0.5rem,1.5vh,1rem)] text-[clamp(1rem,2.5vh,1.5rem)] text-[#010103];
}

@utility highlighted-parameter-button {
  @apply relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
    pointer-events: none;
  }
}

@utility highlight {
  @apply transition-colors duration-500 hover:text-white;
}

@utility c-space {
  @apply px-[clamp(1rem,2vw,2.5rem)];
}

@utility nav-ul {
  @apply relative z-20 flex flex-row items-center;
}

@utility nav-li_a {
  @apply highlight font-generalsans py-[clamp(0.25rem,0.5vh,0.75rem)];
}

@utility text-gray_gradient {
  @apply bg-linear-to-r from-[#BEC1CF] from-60% via-[#D5D8EA] via-60% to-[#D5D8EA] to-100% bg-clip-text text-transparent;
}

@utility text-purple_gradient {
  @apply bg-linear-to-r from-purple-400 via-purple-500 to-purple-600 bg-clip-text text-transparent transition-all duration-700 ease-in-out;
}

@utility grid-container {
  /* about section */
  /* border border-black-300 bg-black-200 */
  @apply shadow-black-200 flex h-full w-full flex-col gap-[clamp(0.5rem,1.5vh,1.25rem)] rounded-xl shadow-2xl;
}

@layer utilities {
  * {
    scroll-behavior: smooth;
  }

  body {
    background: #010103;
    font-family: 'General Sans', sans-serif;
  }
}
