@import url("https://fonts.cdnfonts.com/css/general-sans");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  background: #010103;
  font-family: "General Sans", sans-serif;
}

@layer utilities {
  .parameter-button {
    @apply highlight rounded-full px-8 py-3 text-2xl text-[#010103];
  }

  .highlighted-parameter-button {
    @apply relative;
  }

  .highlighted-parameter-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
    pointer-events: none;
  }

  .highlight {
    @apply transition-colors duration-500 hover:text-white;
  }

  .dark-shadow {
    @apply rounded-xl shadow-2xl shadow-black-200;
  }

  .c-space {
    @apply px-5 sm:px-10;
  }

  .nav-ul {
    @apply relative z-20 flex flex-row items-center gap-14;
  }

  .nav-li_a {
    @apply highlight py-2 font-generalsans text-2xl;
  }

  .text-gray_gradient {
    @apply bg-gradient-to-r from-[#BEC1CF] from-60% via-[#D5D8EA] via-60% to-[#D5D8EA] to-100% bg-clip-text text-transparent;
  }

  .text-purple_gradient {
    @apply bg-gradient-to-r from-purple-400 via-purple-500 to-purple-600 bg-clip-text text-transparent transition-all duration-700 ease-in-out;
  }

  /* about section */
  /* border border-black-300 bg-black-200 */
  .grid-container {
    @apply flex h-full w-full flex-col gap-5 rounded-xl shadow-2xl shadow-black-200;
  }
}
