@import url('https://fonts.cdnfonts.com/css/general-sans');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  background: #010103;
  font-family: 'General Sans', sans-serif;
}

@layer utilities {
  .parameter-button {
    @apply highlight rounded-full px-[clamp(1rem,3vw,2rem)] py-[clamp(0.5rem,1.5vh,1rem)] text-[clamp(1rem,2.5vh,1.5rem)] text-[#010103];
  }

  .highlighted-parameter-button {
    @apply relative;
  }

  .highlighted-parameter-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
    pointer-events: none;
  }

  .highlight {
    @apply transition-colors duration-500 hover:text-white;
  }

  .c-space {
    @apply px-[clamp(1rem,2vw,2.5rem)];
  }

  .nav-ul {
    @apply relative z-20 flex flex-row items-center;
  }

  .nav-li_a {
    @apply highlight py-[clamp(0.25rem,0.5vh,0.75rem)] font-generalsans;
  }

  .text-gray_gradient {
    @apply bg-gradient-to-r from-[#BEC1CF] from-60% via-[#D5D8EA] via-60% to-[#D5D8EA] to-100% bg-clip-text text-transparent;
  }

  .text-purple_gradient {
    @apply bg-gradient-to-r from-purple-400 via-purple-500 to-purple-600 bg-clip-text text-transparent transition-all duration-700 ease-in-out;
  }

  /* about section */
  /* border border-black-300 bg-black-200 */
  .grid-container {
    @apply flex h-full w-full flex-col gap-[clamp(0.5rem,1.5vh,1.25rem)] rounded-xl shadow-2xl shadow-black-200;
  }
}
